* {
    /* Formatação da página */
    background-color: rgb(247, 247, 247);
    box-sizing: border-box;

    /* Fonte */
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20;

}
 /* Onde está todo o conteúdo da página */
.container{
    padding: 80px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
/* Parte da página onde o formulário está */
section {
    background-color: rgb(255, 119, 0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
}

/* O formulário propriamento dito e as dentro do label-form */
form, label {
    background-color: rgb(255, 119, 0);
}

/* Opções dentro das labels idade e sexo  */
select, option {
    color:black;
}

/* Labels do formulário */
.label-form {
    background-color: rgb(255, 119, 0);
    display: block;
    margin: 25px;
    color: black;

}

.label-form input{
    color: black;

}

.primary-button {
    display: block;
    border-radius: 5px;
    margin: 0 auto 20px;
    background-color: rgb(80, 148, 80);
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

.primary-button:hover{
    background-color: #09421f;
}