* {
    /* Formatação da página */
    background-color: rgb(247, 247, 247);
    box-sizing: border-box;

    /* Fonte */
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20;

}

 h1 {
    background-color: #3db36b;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    color: white;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #09421f;
}

.container{
    padding: 80px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

section {
    background-color: rgb(255, 119, 0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
}

select, option {
    color:black;
}

form, label {
    background-color: rgb(255, 119, 0);
}

.label-form {
    background-color: rgb(255, 119, 0);
    display: block;
<<<<<<< HEAD
    background-color: red;
    margin: 5px;
    text-align: right;
=======
    margin: 25px;
    color: black;

}

.label-form input{
    color: black;

}

.primary-button {
    display: block;
    border-radius: 5px;
    margin: 0 auto 20px;
    background-color: rgb(80, 148, 80);
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

.primary-button:hover{
    background-color: #09421f;
>>>>>>> 5a70570 (Modificações no arquivo css para melhor visualização do formulário)
}