* {
    padding: 0;
    margin: 0 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(199, 222, 213);
    box-sizing: border-box;
}

header{
    font-size: 16;
    text-align: center;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

section {
    border: 1px solid black;
}

.label-form {
    display: block;
    background-color: red;
    margin: 5px;
    text-align: right;
}